<div id="main" #main>
  <div *ngIf="!lock">
    <div id="timer">
      <div id="timerBar" #timerBarRef></div>
      <div id="timerBarBorder"></div>
      <span id="timerLeft">{{timerLeft}}</span>
    </div>
  
    <span id="score" class="badge badge-light">Score : {{score}}</span>
  
    <p id="question" class="badge badge-light">{{question.question}}</p>
    
    <ul id="answers"class="list-group">
      <li class="btn badge-primary " (click)="selectAnswer(answer)" *ngFor="let answer of question.answers; let i = index" [attr.data-index]="i">
          {{answer}}
      </li>
    </ul>
  </div>

  <div id="endScreen" *ngIf="lock">
    <ul class="list-group menu">
      <li class="badge badge-light" *ngIf="solvedAll">
        YOU SOLVED <br> ALL THE QUESTIONS!
      </li>
      <li class="badge badge-light">
        Score : {{score}}
      </li>
      <li routerLink="/categories" class="btn badge badge-primary">
        PLAY AGAIN
      </li>
    </ul>
  </div>
  
</div>
