#main{
    height: 100%;
    background:url("/assets/homeBackGround.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    z-index: -999;
    overflow-y: scroll;
}

.font{
    font-size: 1.4rem;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#timerBar{
    width: 100%;
    height: 1rem;
    background-color: rgb(0,255,0);
    position: fixed;
}

#timer{
    display: inline-block;
    width: 100%;
    height: 1rem;
    background-color: black;
    position: fixed;
    left: 0px;
}

.score{
    margin-top: 1.6rem;
}

#question{
    display: inline-block;
    margin-top: 1rem;
    width: 90%;
    height: auto;
    white-space: pre-wrap;
}

#answers{
    margin-top: 0.5rem;
}

#answers li{
    margin-bottom: 1rem;
    width: 90%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    white-space: pre-wrap;
}

#endScreen{
    margin-top:1.5rem;
    width: 100%;
}

#endScreen li{
    margin: 0.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#pic{
    width: 50%;
    display: block;
    margin-top:0.5rem;
    margin-left: auto;
    margin-right: auto;
}

