#main{
    height: 100%;
    background:url("/assets/homeBackGround.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    z-index: -999;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#timerLeft{
    font-size: 2.3rem;
    color: whitesmoke;
    z-index: 1;
    position: fixed;
    margin-left: -1.2rem;
    margin-top: -0.3rem;
}

#timerBar{
    width: 100%;
    height: 3rem;
    background-color: rgb(0,255,0);
    position: fixed;
}

#timer{
    display: inline-block;
    width: 100%;
    height: 3rem;
    background-color: black;
    position: fixed;
    left: 0px;
}

#score{
    font-size: 2rem;
    margin-top: 4rem;
}

#question{
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 90%;
    height: auto;
    white-space: pre-wrap;
}

#answers{
    margin-top: 2rem;
}

#answers li{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 90%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    white-space: pre-wrap;
}

#endScreen{
    margin-top:1.5rem;
    width: 100%;
    font-size: 2rem;
}

#endScreen li{
    margin: 0.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

